@use 'base';
@use 'colors' as *;
@use 'typography' as *;

@mixin flex-center-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin responsive-text {
  @media (max-width: 1200px) {
    padding: 12px;
    font-size: map-get($font-size, "text-5xl");
  }

  @media (max-width: 992px) {
    font-size: map-get($font-size, "text-2xl");
  }

  @media (max-width: 768px) {
    font-size: 18px;
  }
}

