$font-primary: "Nunito Sans", sans-serif;
$font-secondary: "Nunito", sans-serif;

$font-weights: (
  "extra-thin": 100,
  "thin": 200,
  "regular": 400,
  "semi-bold": 600,
  "bold": 700
);

$font-size: (
  "text-sm": 0.875rem, // 14px 
  "text-5xl": 2.5rem, // 40px
  "text-2xl": 1.5rem, // 24px
  "text-6xl": 3.75rem // 60px
);