$default: #000;

$gray: #656565;

$light-gray: #DDDDDD;

$medium-gray: #DEDEDE;

$dark-gray: #838383;

$gray-font-color: #4F4F4F;

$gray-link: #707070;

$gray-strong: #303030;

$smooth-gray: #E7E7EA;

$zinc-white: #FFFFFF;

$cyan-blue: #5EC0BE;

$blue-default: #005CFF;

$purple-violet: #6220C1;

$default-box-shadow: rgba(0, 0, 0, 0.1);
